body {
    margin: 0;
    font-family: 'Averia Libre';
}

button {
    font-family: 'Averia Libre';
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
 
ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
} 

#red__container {
    background-image: url(images/background2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 5%;
    background-color: #fc2e20;
    height: 90vh;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

#header__links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#hero__logo {
    font-size: 10vw;
    font-weight: 900;
    color: #F9FAF8;
}

#hero__text {
    width: 70%;
    font-size: 2vw;
    color: #F9FAF8;
    margin-top: 16px;
}

#hero__button {
    background-color: #9cfc50;
    color: black;
    border: none;
    padding: 20px 90px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10vw;
}

#hero__button:hover {
    background-color: #ffffff;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 128px 5%;
    gap: 16px;
}

#info__header {
    font-size: 36px;
    font-weight: 700;
}

#info__text {
    width: 80%;
    font-size: 24px;
    font-weight: thin;
}

#shop {
    background-color: #9cfc50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 5%;
}

#shop__header {
    font-size: 36px;
    font-weight: 900;
}

#shop__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.shop__text {
    font-size: 24px;
    font-weight: thin;
}

.shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.shop__image:hover {
    transform: scale(1.2);
}

.shop__image {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
}

.shop__button {
    background-color: #fe7f20;
    color: black;
    border: none;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 700;
}

#rules {
    background-image: url(images/bg-grid2.png);
    background-size: 1800px 600px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    padding: 128px 5%;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

#rules__container {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 60%;
}

#rules__header {
    font-size: 36px;
    font-weight: 900;
}

#rules__text {
    font-size: 24px;
    font-weight: thin;
}

#image__container {
    flex-shrink: 1;
    max-width: 600px;
    display: inline;
}

img {
    max-width: 100%;
}

#footer {
    background-color: #333333;
    padding: 32px 5%;
    align-items: center;
    gap: 64px;
}

#footer__links {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer__logo {
    font-weight: 900;
}

@media screen and (max-width: 913px) {

    #hero__logo {
        font-size: 12vh;
    }

    #red__container {
        background-size: cover;
    }

    #hero__text {
        font-size: 4vh;
        width: 50vw;
    }

    #hero__button {
        margin-top: 10vh;
    }

    #rules {
        flex-wrap: wrap;
        justify-content: center;
    }

    #rules__container {
        max-width: 100%;
        text-align: center;
    }

    #header {
        overflow: hidden;
        background-color: #fc2e20;
        position: relative;
        display: block;
        font-size: 17px;
        color: white;
        height: auto;
    }

    #header__links {
        display: none;
        margin-top: 1rem;
    }

    #header__links > * {
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        background-color: #fc2e20;
        border: 1px solid white;
    }

    #header a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        /* font-size: 2rem; */
    }

    #header__links > *:hover {
        background-color: #ddd;
        color: black;
    }

    #footer__links {
        display: block;
        text-align: center;
    }

    #footer__links > * {
        margin-top: 1rem;
    }

}